{% extends 'base.html' %}
{% load static %}

{% block title %}Смена пароля{% endblock title %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url "accounts:user_profile" user.pk %}">Назад</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "accounts:update_user" %}">Обновить профиль</a>
    </li>
{% endblock nav %}

{% block content %}
    <div class="container">
        <h2>Смена пароля</h2>
    </div>
    <div class="container">
        <form method="POST" class="row g-3">
            {% include 'partials/form.html' with button_txt='Изменить' %}
        </form>
    </div>

{% endblock content %}